@import '../grid.scss';
@import '../variaveis-mixins.scss';

footer {
  background: $cinza-muito-claro;
  position: relative;

  > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .container {
    @include displayFlex;
    flex-direction: column;
    padding: 50px 30px 0;
    gap: 40px;
  }
}