@import '../grid.scss';
@import '../variaveis-mixins.scss';

footer {
  background: $cinza-muito-claro;
  position: relative;

  > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @include device(m) {
      width: 32rem;
    }
  }

  .container {
    @include displayFlex;
    flex-direction: column;
    padding: 50px 30px 0;
    gap: 40px;
  }
}

.header {
  @include displayFlex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid $violeta-acinzentado-escuro;
  @include device(m) {
    flex-direction : row;
    justify-content: space-between;
  }

  a {
    > svg {
      display: block;
      margin: 0 auto 30px auto;
      @include device(m) {
        margin: 0;
      }
    }
  }

  .socialMedia {
    @include displayFlex;
    gap: 15px;
    @include device(m) {
      justify-content: flex-end;
      margin: 0;
    }

    .media {
      cursor: pointer;
      &:hover * {
        fill: $violeta-muito-escuro;
        transition: fill .3s;
      }
    }
  }
}

.mainContent {
  @include displayFlex;
  flex-direction: column;
  @include device(m) {
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
  }
  gap: 30px;
  @include fonte-texto(16);
  text-transform: uppercase;
}

.linkBox {
  text-align: center;
  @include device(m) {
    text-align: start;
    margin: 0;
  }

  h4 {
    color: $violeta-acinzentado-escuro;
    margin-bottom: 30px;
  }

  .linkList {
    @include displayFlex;
    flex-direction: column;
    gap: 10px;
    @include device(m) {
      align-items: flex-start;
    }

    a {
      color: $violeta-muito-escuro;
      font-weight: bold;
      transition: text-decoration .3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}