@import '../grid.scss';
@import '../variaveis-mixins.scss';

footer {
  background: $cinza-muito-claro;
  position: relative;

  > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}