@import '../grid.scss';
@import '../variaveis-mixins.scss';

body {
  position: relative;
}

.removeScroll {
  overflow: hidden;
}

.cabecalho > .container {
  nav {
    @include displayFlex(center, space-between);
    padding: 20px;
  }

  .buttonMenu {
    border: none;
    display: flex;
    height: fit-content;
  }

  .menu {
    background: $violeta-muito-escuro;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    top: 4.4rem;
    transform: translateY(-1rem);
    left: 0;
    z-index: -1000;
  }

  .menuActive {
    z-index: 1000;
    opacity: 1;
    transform: initial;
    transition: .3s;
  }
}