@import '../grid.scss';
@import '../variaveis-mixins.scss';

body {
  position: relative;
}

.removeScroll {
  overflow: hidden;
}

.cabecalho > .container {
  nav {
    @include displayFlex(center, space-between);
    padding: 20px;
  }
}