@import '../grid.scss';
@import '../variaveis-mixins.scss';

.container {
  padding: 200px 30px;
  @include device(l) {
    padding-top: 18rem;
  }

  .mainContent {
    @include displayFlex;
    flex-direction: column;
    @include device(l) {
      align-items:  flex-start;
    }
  }
}

.mainContent {
  h2 {
    @include fonte-titulo(45);
    font-weight: normal;
    margin-bottom: 80px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 60%;
      height: 2px;
      background: $violeta-acinzentado-escuro;
      left: 50%;
      bottom: 90px;
      transform: translateX(-50%);
      @include device(l) {
        width: 10%;
        left: 5%;
      }
    }
  }
  
  .containerCards {
    @include device(m) {
      @include displayFlex;
      flex-wrap: wrap;
    }
  }

  .card {
    text-align: center;
    @include device(l) {
      text-align: start;
    }
    &:nth-child(2) {
      margin: 50px 0;
      @include device(l) {
        margin: 0;
      }
    }

    h4 {
      @include fonte-titulo(26);
      margin: 30px 0 20px;
    }

    p {
      @include fonte-texto(16);
      @include device(lxl) {
        font-size: .8rem;
      }
      max-width: 23rem;
      color: $violeta-acinzentado-escuro;
    }
  }
}

.callToAction {
  background: $violeta-escuro;
  color: $cinza-muito-claro;
  text-align: center;
  position: relative;
  padding: 60px 20px;
  margin-top: 150px;
  @include device(m) {
    @include displayFlex(center, space-between);
    padding: 50px;
  }

  h3 {
    @include fonte-titulo(45);
    font-weight: normal;
    z-index: 100;
    position: relative;
    @include device(m) {
      max-width: 25rem;
      text-align: start;
    }
    @include device(ml) {
      font-size: 2.4125rem;
    }
  }

  .button {
    @include fonte-texto(16);
    letter-spacing: 2px;
    display: inline-block;
    color: $cinza-muito-claro;
    text-transform: uppercase;
    border: 2px solid $cinza-muito-claro;
    padding: 15px 30px;
    margin-top: 50px;
    transition: .3s;
    &:hover {
      background: $cinza-muito-claro;
      color: $violeta-escuro;
    }
  }

  .illustration {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}