@import '../grid.scss';
@import '../variaveis-mixins.scss';

.container {
  padding: 200px 30px;

  .mainContent {
    @include displayFlex;
    flex-direction: column;
  }
}

.mainContent {
  h2 {
    @include fonte-titulo(45);
    font-weight: normal;
    margin-bottom: 80px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 60%;
      height: 2px;
      background: $violeta-acinzentado-escuro;
      left: 50%;
      bottom: 90px;
      transform: translateX(-50%);
    }
  }
}