@import 'variaveis-mixins.scss';

// Variáveis do Grid
$colunas: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Box-sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Função de grid
@function grid($coluna, $offset: false) {
  $width: calc($coluna /  $colunas) * 100 + '%';
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }

  @return $result;
}

@for $i from 1 through $colunas {
  .grid-#{$i} {
    width: grid($i);
  }
}