@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

// Cores

// Principal

$violeta-escuro: hsl(256, 26%, 20%);
$azul-acinzentado: hsl(216, 30%, 68%);

// Neutro

$violeta-muito-escuro: hsl(270, 9%, 17%);
$violeta-acinzentado-escuro: hsl(273, 4%, 51%);
$cinza-muito-claro: hsl(0, 0%, 98%);

// Fontes

$fonte-titulo: 'DM Serif Display', serif;
$fonte-texto: 'Karla', sans-serif;

// Gera font-size
@function em($pixel, $contexto: 16) {
  @return calc($pixel / $contexto) + em;
}

// Tamanho de fonte para titulo
@mixin fonte-titulo($tamanho) {
  font-family: $fonte-titulo;
  @if $tamanho == 55 {
    font-size: em(55);
    line-height: em(50, 55);
  }
  @else if $tamanho == 50 {
    font-size: em(50);
  }
  @else if $tamanho == 45 {
    font-size: em(45);
    line-height: em(50, 55);
  }
  @else if $tamanho == 26 {
    font-size: em(26);
  }
  @else if $tamanho == 18 {
    font-size: em(18);
  }
}

// Tamanho de fonte para parágrafos
@mixin fonte-texto($tamanho) {
  font-family: $fonte-texto;
  @if $tamanho == 16 {
    font-size: em(16);
    line-height: em(25, 16);
  }
  @else if $tamanho == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

// Mixin de media-query
@mixin device($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  }
  @else if $size == m {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 1}) {
      @content;
    }
  }
  @else if $size == s {
    @media screen and (max-width: #{$m-device - 1}) {
      @content;
    }
  }
}